<table class="table table-striped">
  <tr>
    <td>
      <strong><%= t('simple_form.labels.test.name') %>:</strong>
    </td>
    <td>
      <%= @test.name %>
    </td>
  </tr>
  <tr>
    <td>
      <strong><%= t('simple_form.labels.test.description') %>:</strong>
    </td>
    <td>
      <%= @test.description %>
    </td>
  </tr>
</table>